* {
	padding: 0;
	border: 0;
	margin: 0;
}

html {
	font-family: 'open sans', sans-serif;
	font-size: 18px;
	color: #151515;
}

a:link, a:visited {
	color: #1e87dd;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	margin-bottom: 0px;
	color: #fff;
	font-size: 44px;
}

h2, h3, h4, h5, p, ul, ol, .ui-block {
	margin-bottom: 20px;
}

header {
	background-image: url(photos/box_turtle_header.jpg);
	background-size: cover;
	background-position: center top;
	padding-top: 300px;
	background-repeat: no-repeat;
}

section {
	padding: 40px 0;
	border-top: 1px solid #e6e6e6;
}

.contain {
	min-width: 700px;
	max-width: 750px;
	margin: auto;
	padding: 0 20px;
}

/* Utility Classes */

.inline-table {
	display: inline-table;
}

.table {
	display: table;
	width: 100%;
}

.td {
	display: table-cell;
	vertical-align: top;
}

.td--col {
	padding-right: 15px;
}

.td--col2 {
	padding-right: 25px;
}

.td--col:last-child, .td--col2:last-child {
	padding-right: 0;
}